<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/1369ecf7eb.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="shsa384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body style="background-color: black;">
    <header>
 <div class="overlay"></div>
    <nav class="navbar navbar-expand-lg navbar-light  ">
        <button type="button" class="btn btn-light" style="font-size: 60px;margin-right: 70px;background-color:black;color: red;"> <b> <u>Sh<span style="color: white;">op</span></u> </b> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                
                <li class="carte">
                    <button type="button" class=" btn btn-light" style="background-color: black;" ><a href="/final" ><i class="fas fa-shopping-cart">Cart : <span>0</span></i></a></button>
                   
                </li>
               
                  
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="background-color: black;">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color: blue; color: white;">Search</button>
            </form>
        </div>
    </nav>
</header>
<nav align="center" class="mt-5">


    <a href="/index2" class="mr-5 "><span style="color: white;">Home</span></a>
    <a href="#" class="mr-5 "><span style="color: white;">Gallery</span></a>
    <a href="#" class="mr-5 "><span style="color: white;">Ambience</span></a>
    <a href="#" class="mr-5 "><span style="color: white;">Location</span></a>
    <a href="#" class="mr-5 "><span style="color: white;">Food</span></a>
    <a href="#" class="mr-5 "><span style="color: white;">More</span></a>
</nav><br>
    
<div class="shakes mt-4 ml-5 mr-5">
    <h1> <span style="color:red;"><u>Shakes</u> </span>and soft drinks </h1><hr style="background-color: red;">
<div class="container">
     <div class="image" style="color:white;">
        <div class="zoom"><img src="/images/choclateshake.jpg" alt="Choclate Shake" id=""></div>
    
        <h3><span style="color: white;">Choclate Shake</span></h3>
        <h3><span style="color: red;">₹</span>160</h3>
        <a class="add-cart cart1"href="#">Add Cart</a>
    </div>
    

    <div class="image" style="color: white;">
        <div class="zoom"><img src="/images/kitkatshake.jpg" alt="Kit Kat Shake" id=""></div>
        <h3>Kit Kat Shake</h3>
        <h3><span style="color: red;">₹</span>150</h3>
        <a class="add-cart cart2"href="#">Add Cart</a>
    </div>
    <div class="image" style="color: white;">
        <div class="zoom"><img src="/images/oreoshake.jpg" alt="Oreo Shake" id=""></div>
        <h3>Oreo Shake</h3>
        <h3><span style="color: red;">₹</span>110</h3>
        <a class="add-cart cart1"href="#">Add Cart</a>
    </div>
    <div class="image" style="color: white;">
        <div class="zoom"><img src="/images/appleshake.jpg" alt="Apple Shake" id=""></div>
        <h3>Apple Shake</h3>
        <h3><span style="color: red;">₹</span>140</h3>
        <a class="add-cart cart1"href="#">Add Cart</a>
    </div>
    <div class="image" style="color: white;">
        <div class="zoom"><img src="/images/strawberryshake.jpg" alt="Strawberry Shake" id=""></div>
        <h3>Strawberry Shake</h3>
        <h3><span style="color: red;">₹</span>130</h3>
        <a class="add-cart cart1"href="#">Add Cart</a>
    </div>
    <div class="image" style="color: white;">
        <div class="zoom"><img src="/images/aerateddrinks.jpg" alt="Aerated Drinks" id=""></div>
        <h3>Aerated Drinks</h3>
        <h3><span style="color: red;">₹</span>80</h3>
        <a class="add-cart cart1"href="#">Add Cart</a>
    </div>
</div>
</div>

<div class="fast-food ml-5 mr-5">
    <h1>  <span style="color: red"><u>Fast</u> </span>Food</h1><hr style="background-color: red;">
<div class="container" >
    <div class="image" style="color: white;">
        <div class="zoom"><img src="/images/cheeseburger.jpg" alt="Burger" id=""></div>
    
        <h3>Cheese burger</h3>
        <h3><span style="color: red;">₹</span>50</h3>
        <a class="add-cart cart1"href="#">Add Cart</a>
    </div>

    <div class="image" style="color: white;">
        <div class="zoom"><img src="/images/frenchfries.jpg" alt="Fries" id=""></div>
        <h3>French Fries</h3>
        <h3><span style="color: red;">₹</span>40</h3>
        <a class="add-cart cart2"href="#">Add Cart</a>
    </div>
    <div class="image" style="color: white;">
        <div class="zoom"><img src="/images/maggie.jpg" alt="Magg" id=""></div>
        <h3>Maggie</h3>
        <h3><span style="color: red;">₹</span>20</h3>
        <a class="add-cart cart1"href="#">Add Cart</a>
    </div>
   
</div>
</div>
<hr style="background-color: red;">


<script src="/carts.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
        
</body>

</html>