<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/1369ecf7eb.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="shsa384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
    <header>
 <div class="overlay"></div>
    <nav class="navbar navbar-expand-lg navbar-light  ">
        
       <a href="/cart"> <button type="button"  class="btn btn-light" style="font-size: 60px;margin-right: 70px;"> <b> <u>Shop</u> </b> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                
                <li class="carte">
                    <button type="button" class=" btn btn-light"  ><a href="#" ><i class="fas fa-shopping-cart"></i></a>Cart : <span>0</span></button>
                   
                </li>
               
                  
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color: blue; color: white;">Search</button>
            </form>
        </div>
    </nav>
</header>
<nav align="center" class="mt-5">


    <a href="/index2" class="mr-5 "><span style="color: white;">Home</span></a>
    <a href="#" class="mr-5 "><span style="color: white;">Gallery</span></a>
    <a href="#" class="mr-5 "><span style="color: white;">Ambience</span></a>
    <a href="#" class="mr-5 "><span style="color: white;">Location</span></a>
    <a href="#" class="mr-5 "><span style="color: white;">Food</span></a>
    <a href="#" class="mr-5 "><span style="color: white;">More</span></a>
</nav><br>
    
<div class="products-container">
    <div class="product-header">
        <h5 class="product-title">PRODUCT</h5>
        <h5 class="price">PRICE</h5>
        <h5 class="quantity">QUANTITY</h5>
        <h5 class="total">TOTAL</h5>
    </div>
    <div class="products">

    </div>
</div>
<div class="totalCostContainer">
  
    <h4>Total Bill : ₹<span>0</span>.00</h4>

</div>
<hr style="background-color:white">
      
<div class="container px-0 py-0 mx-auto">
  <div class="col-md abcd ">
    <p class="connect">Stay connected</p>
    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"
        style="color: white; font-size: 20px; margin-right: 5px;"></i></a>
    <a href="https://www.instagram.com/" target="_blank" ><i class="insta fab fa-instagram-square"
        style="color: white; font-size: 40px;"></i></a>
    <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter-square "
        style="color: white; font-size: 20px;margin-left: 5px;"></i></a>
    <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube-square"
        style="color: white; font-size: 20px;"></i></a>


    <center>
      <p>Copyright © 2020</p>
    </center>
  </div>

</div>

<hr style="background-color:white">

<script src="/carts.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
        
</body>

</html>